# Project exclude paths
/venv/
/.idea/
/sdxl_image_0.png
/sdxl_image_1.png
/sdxl_image_2.png
/sdxl_image_3.png
/flux_image_0.png
/sdxl_lora_image_0.png
/sdxl_lora_image_1.png
/sdxl_lora_image_2.png
/sdxl_lora_image_3.png
/loras/sdxl/lighty.safetensors
/flux_image_1.png
/flux_image_2.png
/flux_image_3.png
/loras/flux/matlighty.safetensors
