accelerate
bitsandbytes
git+https://github.com/huggingface/diffusers
faiss-cpu
fastapi
ftfy
hangul_romanize
imageio
imageio-ffmpeg
librosa
loguru
num2words
nvidia-ml-py
opencv-python
peft
protobuf
py3langid
pypinyin
python-multipart
sentencepiece
sentence_transformers
spacy
tiktoken
torch
torchaudio
torchvision
git+https://github.com/huggingface/transformers
unstructured
uvicorn
