accelerate
bitsandbytes
diffusers
faiss-cpu
fastapi
hangul_romanize
librosa
loguru
num2words
opencv-python
protobuf
py3langid
pypinyin
python-multipart
sentencepiece
sentence_transformers
spacy
torch
torchaudio
torchvision
transformers
unstructured
uvicorn
