accelerate
bitsandbytes
git+https://github.com/huggingface/diffusers
faiss-cpu
fastapi
ftfy
hangul_romanize
librosa
loguru
num2words
nvidia-ml-py
opencv-python
peft
protobuf
py3langid
pypinyin
python-multipart
sentencepiece
sentence_transformers
spacy
torch
torchaudio
torchvision
git+https://github.com/huggingface/transformers
unstructured
uvicorn
